body{
    background-color: rgb(61, 61, 61);
}
div{
    color: ivory;
    margin-left: 150px;
    margin-right: 150px; 
    padding: 15px;  
    /* border: 1px solid green;  */
    /* background-color: grey; */
}
.nav li { 
    display: inline;
    position: relative;
    left: 200px;
}
ul.nav a {
    position: relative;
    top: 120px;
    /* left: 50px; */
    display: inline-block;
    width: 5em;
    padding:10px;
    background-color: transparent;
    /* border: 1px dashed rgb(31, 30, 30); */
    color: rgb(0, 0, 0);
    text-align: center;
}
hr{
    position: relative;
    top: 110px;
}